.disable-resize {
  resize: none;
  height: 25px;
  width: 150px;
}

.copy-button {
  margin-left: 5px;
}

#container > div {
  display: inline-block;
}
#container {
  text-align: center;
  margin: 0px auto;
  width: 40%;
}
